<br>
<footer>
    <div class="container">
        <div class="row" style="background-color: white;">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12">
                        <span style="font-size: x-small; font-weight: bold;">ONLINE SHOPPING</span> 
                    </div>
                </div>
                <br>
                <span style="text-align: left; font-size: x-small;">
                    <ul class="footul">
                        <li>MEN</li>
                        <li>WOMEN</li>
                        <li>KIDS</li>
                        <li>HOME & LIVING</li>
                        <li>BEAUTY</li>
                        <li>GIFT CARDS</li>
                        <li>MYNTRA INSIDE</li>
                    </ul>
                </span>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12">
                        <span style="font-size: x-small; font-weight: bold;">USEFUL LINKS</span> 
                    </div>
                </div>
                <br>
                <span style="text-align: left; font-size: x-small;">
                    <ul class="footul">
                        <li>Contact Us</li>
                        <li>FAQ</li>
                        <li>T&C</li>
                        <li>Terms of Use</li>
                        <li>Track Orders</li>
                        <li>Shipping</li>
                        <li>Cancellation</li>
                        <li>Returns</li>
                        <li>Whitechat</li>
                        <li>Blog</li>
                        <li>Careers</li>
                        <li>Privact Policy</li>
                        <li>Site Map</li>
                    </ul>
                </span>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <span style="font-size: x-small; font-weight: bold;">EXPERIENCE MYNTRA APP ON MOBILE</span> 
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-10">
                        <img src="assets\images\play.png" alt="playstore" style="width: 50%; height: 35px;">
                        <img src="assets\images\app.png" alt="appstore" style="width: 50%; height: 35px;">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <span style="font-size: x-small; font-weight: bold;">KEEP IN TOUCH</span> 
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-8">
                        <img src="assets\images\facebook.png" alt="facebook" style="width: 15%; height: 25px; padding-right: 10px;">
                        <img src="assets\images\twitter.png" alt="twitter" style="width: 15%; height: 25px; padding-right: 10px;">
                        <img src="assets\images\youtube.png" alt="youtube" style="width: 15%; height: 25px; padding-right: 10px;">
                        <img src="assets\images\instagram.png" alt="instagram" style="width: 15%; height: 25px; padding-right: 10px;">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-2">
                        <img src="assets\images\original.jpeg" alt="original" style="height: 40px; width: 40px;">
                    </div>
                    <div class="col-md-8">
                        <span style="text-align: left; font-size: small;">
                            <b>100% ORIGINAL</b> guarantee<br>
                            <span style="line-height: 0%;">for all products at myntra.com</span> 
                        </span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <img src="assets\images\return.jpeg" alt="return" style="height: 40px; width: 40px;">
                    </div>
                    <div class="col-md-8">
                        <span style="text-align: left; font-size: small;">
                            <b>Return within 30days</b> of<br>
                            receiving your order
                        </span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <img src="assets\images\delivery.jpeg" alt="delivery" style="height: 40px; width: 40px;">
                    </div>
                    <div class="col-md-8">
                        <span style="text-align: left; font-size: small;">
                            <b>Get free delivery</b> for every<br>
                            order above Rs. 799
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <span style="font-size: small; font-weight: bold;">POPULAR SEARCHS</span> 
            </div>
            <div class="col-md-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <span style="font-size: small; color: lightslategray;">
                    Adidas | Arrow | Fila | Online Shopping | Nike | Pepe Jeans | Puma | United Colors of Benetton | Fastrack | Shorts | 
                    Being Human | Skirts | Woodland | Supra | Dresses | Clothing | Jewellery | T-shirts | Shoes | Bags | Watches | Caps | 
                    Shirts | Backpacks | Flip Flops | Sunglasses | Kurtas | Lingerie | Jackets | Skechers | Saree | Sandals | Puma Tshirts | 
                    Woodland Shoes | Titan Watches | Fastrack Watches | Wrangler Shirts | Adidas Tshirts | Nike Shoes | Roadster Shirts | 
                    Casual Shoes | Running Shoes | Nike Sports Shoes | Jeans | Being Human Tshirts | Converse Shoes | Cricket Shoes
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            In case of any concern,&nbsp;<a routerLink="/contact-nonorder" routerLinkActive = 'active' style="text-decoration: none;"><b> Contact Us</b></a>
                        </div>
                        <div class="col-md-6" style="text-align: right;">
                            © 2021 www.myntra.com. All rights reserved.
                        </div>
                    </div>
                </span> 
                

            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</footer>