<br>

<div class="row">
    <div class="col-md-12">
        <h3 style="text-align: center; color: brown;">
            FASHION & ESSENTIALS
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-10 divmain1" id='kid-rev'>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <h3 style="text-align: center; color: brown;">
            BUDGET BUY
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-10 divmain1 height">
        <div class="divsub1"
            style="background-color: orange; height: 200px; color: white; display: flex;justify-content: center; align-items: center; border-radius: 10px;">
            <div style="text-align: center;">
                <h4>T-SHIRTS</h4>
                <h5>UNDER</h5>
                <h4>Rs. 499</h4>
            </div>
        </div>
        <div class="divsub1"
            style="background-color: orange; height: 200px; color: white; display: flex;justify-content: center; align-items: center; border-radius: 10px;">
            <div style="text-align: center;">
                <h4>Dresses</h4>
                <h5>UNDER</h5>
                <h4>Rs. 799</h4>
            </div>
        </div>
        <div class="divsub1"
            style="background-color: orange; height: 200px; color: white; display: flex;justify-content: center; align-items: center; border-radius: 10px;">
            <div style="text-align: center;">
                <h4>ETHNIC WEAR</h4>
                <h5>UNDER</h5>
                <h4>Rs. 999</h4>
            </div>
        </div>
        <div class="divsub1"
            style="background-color: orange; height: 200px; color: white; display: flex;justify-content: center; align-items: center; border-radius: 10px;">
            <div style="text-align: center;">
                <h4>SHORTS</h4>
                <h5>UNDER</h5>
                <h4>Rs. 399</h4>
            </div>
        </div>
        <div class="divsub1"
            style="background-color: orange; height: 200px; color: white; display: flex;justify-content: center; align-items: center; border-radius: 10px;">
            <div style="text-align: center;">
                <h4>FOOTWEAR</h4>
                <h5>UNDER</h5>
                <h4>Rs. 699</h4>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <h3 style="text-align: center; color: brown;">
            FAVOURITE BRANDS
        </h3>
    </div>
</div>

<div class="container divmain2">
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
</div>


<br>
<app-footer></app-footer>