<br>

<div class="row">
    <div class="col-md-12">
        <h3 style="text-align: center; color: brown;">
            MEN
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-10 divmain1" id='men-rev'>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <h3 style="text-align: center; color: brown;">
            MOST LOVED BRAND'S
        </h3>
    </div>
</div>
  
<div class="container divmain2">
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <h3 style="text-align: center; color: brown;">
            SHOP BY CATEGORY
        </h3>
    </div>
</div>
<div class="row">
  
    <div class="col-md-10 divmain1">
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\men\t-shirt.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">T-Shirts</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">50-70% Off</h4>
        </div>
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\men\shirts.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">Shirts</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">50-70% Off</h4>
        </div>
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\men\activewear.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">Active Wear</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">Up to 70% Off</h4>
        </div>
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\men\bottomwear.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">Bottom Wear</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">30-70% Off</h4>
        </div>
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\men\watches.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">Watches</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">Up to 80% Off</h4>
        </div>
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\men\innerwear.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">InnerWear</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">40-80% Off</h4>
        </div>
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\men\Flip-Flops.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">Footwear</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">Up to 70% Off</h4>
        </div>
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\men\indianwear.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">Indian Wear</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">40-70% Off</h4>
        </div>
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\men\workwear.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">Work Wear</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">Up to 60% Off</h4>
        </div>
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\men\plussize.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">Plus Size</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">Up to 50% Off</h4>
        </div>
    </div>
</div>

<br>

<app-footer></app-footer>
