<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-8" class="postprofile">
            <h5>HELP CENTER</h5>
            <p class="postp" style="line-height: 0.2;">We are here to help you</p>
            <hr>
            <div class="row">
                <div class="col-md-3 postrow1">
                    <h6 class="posth6">SELECT QUERY TYPE</h6>
                    <a class="posta" routerLink="/contact-nonorder" routerLinkActive = 'active' style="font-size: small;">Non-order Related Issues<span style="float:right; padding-top: 4px;">></span></a>
                    <br>
                    <a class="posta" routerLink="/contact-order" routerLinkActive = 'active' style="font-size: small;">Order Related Queries<span style="float:right; padding-top: 4px;">></span></a>
                    <br>
                    <a class="posta" routerLink="/contact-recent" routerLinkActive = 'active' style="font-size: small;">Recent Issues<span style="float:right; padding-top: 4px;">></span></a>
                    <hr>
                    <a class="posta" routerLink="/contact-faq" routerLinkActive = 'active' style="font-size: small;">Frequently Asked Questions<span style="float:right; padding-top: 4px;">></span></a>
                    <br><br><br><br><br><br>
                    <p class="postp" style="font-size: small;">
                        Want to reach us old style? Here is our
                        <a class="posta" routerLink="/contact-postal" routerLinkActive = 'active' style="color: blue;">postal address</a>
                    </p>
                </div>
                <div class="col-md-9">
                    <h6 class="posth6">POSTAL ADDRESS</h6>
                    <span style="font-size: x-small;">
                        <b >Returns Processing Facility</b>
                        <p class="postp">Survey Numbers 231, 232 and 233<br>
                            Soukya Road, Samethanahalli Village<br>
                            Anugondanahalli Hobli, Hoskote Taluk<br>
                            Bangalore - 560067
                        </p>
                        <br>
                        <b>Corporate Office</b>
                        <p class="postp">
                            Myntra Designs Pvt. Ltd.<br>
                            Buildings Alyssa<br>
                            Begonia and Clover situated in Embassy Tech Village,<br>
                            Outer Ring Road,<br>
                            Devarabeesanahalli Village,<br>
                            Varthur Hobli,<br>
                            Bengaluru – 560103, India
                        </p>
                    </span>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<app-footer></app-footer>
