<div style="background-color: rgb(255, 217, 223); height: 100vh;">
    <br>
    <div class="container">
        <div class="row" style="width: 100%; margin: 0 auto;">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="background-color: white; border-radius: 10px;">
                <br>
                <form id="login-form">
                    <div class="row">
                        <div class="col-md-10" style="margin: 0 auto;">
                            <div class="form-group">
                                <label for="login-email" style="font-weight: 500; font-size: small;">Email</label>
                                <input type="text" class="form-control" id="login-email" placeholder="Enter Username" style="width: 100%; height: 30px;">
                            </div>
                            <div class="form-group">
                                <label for="login-pass" style="font-weight: 500; font-size: small;">Password</label>
                                <input type="password" class="form-control" id="login-pass" placeholder="Password" style="width: 100%; height: 30px;">
                            </div>
                            <button type="submit" class="btn btn-primary">
                                <span style="color: white; text-decoration: none; font-weight: bold;">
                                    Log In
                                </span>
                            </button>
                            <div style="text-align: center;">
                                <a routerLink="/reset" routerLinkActive = 'active' 
                                style="text-decoration: none; color: black; font-size: small;">
                                    forgot password?
                                </a>
                            </div> 
                            <br>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div style="line-height: 0.2;"><br></div>
        <div class="row" style="width: 100%; margin: 0 auto;">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="background-color: white; border-radius: 10px;">
                <form>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div style="text-align: center;">
                                <span style=" font-size: small;">Don't have an account?</span>
                                <a routerLink="/signup" routerLinkActive = 'active' 
                                style="text-decoration: none; font-size: small; padding: 10px 0px 20px 0px;">
                                    Sign Up?
                                </a>
                                <div style="line-height: 0.2;"><br></div>
                            </div> 
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <br>
</div>
