<br><br>
<div class="row">
    <div class="col-md-8" class="profile">
        <h5 class='web'>Account</h5>
        <h5 class='mob'>Overview</h5>
        <hr>
        <div class="row">
            <div class="col-md-3 row1">
                <a routerLink="/overview" routerLinkActive = 'active' style="color: lightgreen;"><h6>Overview</h6></a>
                <hr>
                <h6 style="font-weight: lighter;">ORDERS</h6>
                <a routerLink="/order" routerLinkActive = 'active'><h6>Orders & Returns</h6></a>
                <hr>
                <h6 style="font-weight: lighter;">ACCOUNTS</h6>
                <a routerLink="/profile" routerLinkActive = 'active'><h6>Profile</h6></a>
                <a routerLink="#" routerLinkActive = 'active'><h6>Saved Cards</h6></a>
                <a routerLink="/address" routerLinkActive = 'active'><h6>Addresses</h6></a>
                <a routerLink="#" routerLinkActive = 'active'><h6>Myntra Insider</h6></a>
                <hr>
                <h6 style="font-weight: lighter;">LEGAL</h6>
                <a routerLink="/terms" routerLinkActive = 'active'><h6>Terms of Use</h6></a>
                <a routerLink="/policy" routerLinkActive = 'active'><h6>Privacy Policy</h6></a>
            </div>
            <div class="col-md-9">
                <div class="divmain1">
                    <div class="divsub1">
                        <a routerLink="/order" routerLinkActive = 'active'>
                            <div>
                                <b><h6>Orders</h6></b>  
                                <p>Check your order status</p>   
                            </div>
                        </a>
                    </div>
                    <div class="divsub1">
                        <a routerLink="/wishlist" routerLinkActive = 'active'>
                            <div>
                                <b><h6>Collections & Wishlist</h6></b>  
                                <p>All your curated product collections</p>
                            </div>
                        </a>
                    </div>
                    <div class="divsub1"> 
                        <div>
                            <b><h6>Myntra Credit</h6></b>  
                            <p>Manage all your refunds & gift cards</p>
                        </div>
                    </div>
                    <div class="divsub1"> 
                        <div>
                            <b><h6>MynCash</h6></b>  
                            <p>Earn MynCash as you shop and use them in checkout</p>   
                        </div>
                    </div>
                    <div class="divsub1">
                        <div>
                            <b><h6>Saved Cards</h6></b>  
                            <p>Save your cards for faster checkout</p>
                        </div>
                    </div>
                    <div class="divsub1">
                        <div>
                            <a routerLink="/address" routerLinkActive = 'active'>
                                <b><h6>Addresses</h6></b>  
                                <p>Save addresses for a hassle-free checkout</p>   
                            </a>
                        </div>
                    </div>
                    <div class="divsub1">
                        <div>
                            <b><h6>Coupons</h6></b>  
                            <p>Manage coupons for additional discounts</p>   
                        </div>
                    </div>
                    <div class="divsub1">
                        <div>
                            <a routerLink="/profile" routerLinkActive = 'active'>
                                <b><h6>Profile Details</h6></b>  
                                <p>Change your profile details & password</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<app-footer></app-footer>
