<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-10" class="faqprofile">
            <h3>Frequently Asked Questions</h3>
            <hr>
            <div class="container">
                <div id="Top-Queries">
                    <h4>Top Queries</h4>
                    <div>
                        <span>You can track your orders in 'My Orders'</span>
                        <div style="float: right;">
                            <a class="btn faqa" routerLink="/order" routerLinkActive = 'active'>Track orders</a>
                        </div>
                    </div>
                    <hr>
                    <a class="faqa" data-toggle="collapse" href="#Top-Queries-1">
                        <p style="font-weight: bold;">What is Try and Buy Service?</p>
                    </a>
                    <div id="Top-Queries-1" class="panel-collapse collapse in">
                        <p>
                            This service entitles you to try out your purchases at the time of delivery, pay only for what you like and return the rest on-the-spot. Try and Buy is a paid service, available on most of the products and in 31 Cities, you can enter pin code on product page to check service availability. Try and Buy is only available on orders containing &lt;=3 items in cart. To avail this service min. order value should be Rs.1199 and above. To avail the service, please ensure that you tick the 'Try and Buy' box on check-out page and choose delivery address where you are comfortable trying product. Terms of service may differ for our new customers.
                            <br><br>
                            Try and Buy will not be available during big sale days; We will re-offer the service, post such events.
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#Top-Queries-2">
                        <p style="font-weight: bold;">Why are there different prices for the same product? Is it legal?</p>
                    </a>
                    <div id="Top-Queries-2" class="panel-collapse collapse in">
                        <p>
                            Myntra is an online marketplace platform that enables independent sellers to sell their products to buyers. The prices are solely decided by the sellers, and Myntra does not interfere in the same. There could be a possibility that the same product is sold by different sellers at different prices. Myntra rightfully fulfils all legal compliances of onboarding multiple sellers on its forum as it is a marketplace platform.
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#Top-Queries-3">
                        <p style="font-weight: bold;">I saw the product at Rs. 1000 but post clicking on the product, there are multiple prices and the size which I want is being sold for Rs. 1600. Why is there a change in price in the product description page?</p>
                    </a>
                    <div id="Top-Queries-3" class="panel-collapse collapse in">
                        <p>
                            Myntra is an online marketplace, and multiple sellers could be selling a particular style at different prices as may be set by each such seller respectively. The product price on the listing page of the platform, may not always reflect the lowest price for that particular style. This is because the seller whose price is displayed on the list page is selected based on the application of a number of parameters and price is only one such parameter. However, once you land on the product display page on the platform for a specific style, you will have access to the price offered by all sellers on the platform for the relevant style.
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#Top-Queries-4">
                        <p style="font-weight: bold;">How will I detect fraudulent emails/calls seeking sensitive personal and confidential information?</p>
                    </a>
                    <div id="Top-Queries-4" class="panel-collapse collapse in">
                        <p>
                            If you receive an e-mail, a call from a person/association claiming to be from Myntra seeking sensitive confidential information like debit/credit card PIN, net-banking or mobile banking password, we request you to never provide such confidential and personal data. We at Myntra or our affiliate logistics partner never ask for such confidential and personal data. If you have already revealed such information, report it immediately to an appropriate law enforcement agency.
                            <br><br>
                            Here are a couple of baits fraudsters often use to cheat consumers:
                            <br><br>
                            Congratulations! You have been nominated as a ‘Top Myntra customer’ and are now eligible for a luxury gift item. Please share your proof of address and your debit/credit card details to avail this great offer.
                            <br><br>
                            Hi, I’m calling from Myntra. We are happy to let you know that you have won an exclusive lucky draw coupon of Rs. 5000 on your latest purchase. Please share your credit/debit card number so we can credit the money directly into your bank account.
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#Top-Queries-5">
                        <p style="font-weight: bold;">How will I identify a genuine appointment letter?</p>
                    </a>
                    <div id="Top-Queries-5" class="panel-collapse collapse in">
                        <p>
                            Please beware of the fraudulent individuals/agencies that are enticing job seekers by promising them career opportunities at Myntra in lieu of 1.) recruitment fee 2.) processing fee 3.) security deposit 4.) software or equipment charges 5.) on-boarding charges etc. Please be cautious that, Myntra and its recruitment partners never ask for any fee in exchange for an offer letter or interview calls. All offer related communications are sent from an official Myntra email id only.
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#Top-Queries-6">
                        <p style="font-weight: bold;">Why will 'My Cashback' not be available on Myntra?</p>
                    </a>
                    <div id="Top-Queries-6" class="panel-collapse collapse in">
                        <p>
                            To make your shopping experience easier and simpler, 'My Cashback' will be replaced by PhonePe. PhonePe wallet can be used on Myntra and other PhonePe partners. To use your PhonePe balance, you will have to activate/verify your PhonePe account
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#Top-Queries-7">
                        <p style="font-weight: bold;">How do I cancel the order, I have placed?</p>
                    </a>
                    <div id="Top-Queries-7" class="panel-collapse collapse in">
                        <p>
                            Order can be canceled till the same is out for delivery. Note: This may not be applicable for certain logistics partner. You would see an option to cancel within 'My Orders' section under the main menu of your App/Website/M-site then select the item or order you want to cancel. In case you are unable to cancel the order from'My Orders' section, you can refuse it at the time of delivery and refund will be processed into the source account, if order amount was paid online.
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#Top-Queries-8">
                        <p style="font-weight: bold;">How do I create a Return Request?</p>
                    </a>
                    <div id="Top-Queries-8" class="panel-collapse collapse in">
                        <p>
                            You can create a Return in three simple steps
                        </p>
                        <ol>
                            <li>Tap on MyOrders</li>
                            <li>Choose the item to be Returned</li>
                            <li>Enter details requested and create a return request</li>
                        </ol>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#Top-Queries-9">
                        <p style="font-weight: bold;">I have created a Return request. When will the product be picked up?</p>
                    </a>
                    <div id="Top-Queries-9" class="panel-collapse collapse in">
                        <p>
                            Number of days to pickup a product may vary as per the Logistics team that will be assigned to pickup your product. The product will be picked anywhere between 4 – 7 days.
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#Top-Queries-10">
                        <p style="font-weight: bold;">I have created a Return request. When will I get the refund?</p>
                    </a>
                    <div id="Top-Queries-10" class="panel-collapse collapse in">
                        <p>
                            Refund will be initiated upon successful pickup as per the Returns Policy. The refund amount is expected to reflect in the customer account within the following timelines:
                        </p>
                        <ol>
                            <li>NEFT - 1 to 3 business days post refund initiation</li>
                            <li>Myntra Credit - Instant</li>
                            <li>Online Refund – 7 to 10 days post refund initiation, depending on your bank partner</li>
                            <li>“PhonePe wallet” – Instant</li>
                        </ol>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#Top-Queries-11">
                        <p style="font-weight: bold;">Where should I self-ship the Returns?</p>
                    </a>
                    <div id="Top-Queries-11" class="panel-collapse collapse in">
                        <p>
                            You can send the return to any one of the following returns processing facilities depending on your location. Kindly do not send it to on any other address as the package would not be acceptable then. Please address the return shipments to the seller you purchased the products from, details of which can be found on your order invoice.
                            <br><br>
                            **South
                            <br><br>
                            SY 209 / 2 & 209/4, PKV Warehouse, Soukya Road, Koralur Village, Bangalore - 560067,
                            <br><br>
                            (Professional courier are not accepted at Bangalore return desk)
                            <br><br>
                            **North
                            <br><br>
                            Instakart Services Pvt. Ltd. Plot No.GP 53 Gate 2 Sector 18 Gurgaon near Srl Diagnostic Lab - 122001
                            <br><br>
                            **West
                            <br><br>
                            Survey Nos 42/2,42/3,51/2,51/3,51/4,51/5B(old sno.51/51A+B), 51/5A+6B,51/5B+6A,51/6,57/17,57/18, K Square Logistics Park, Prakhhyat Infraprojects Pvt Ltd, Building No 9, Near Padgha Toll Naka, Mumbai Nashik Highway, Tal -Bhiwandi, District Thane, Maharashtra -421302, Maharashtra
                            <br><br>
                            **East
                            <br><br>
                            430, Pashupati bhattacharjee Road, PS-Behala, PO-Paschim putiary, Kolkata – 700041,
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#Top-Queries-12">
                        <p style="font-weight: bold;">I have accumulated Myntra Points in my account. How can I redeem them?</p>
                    </a>
                    <div id="Top-Queries-12" class="panel-collapse collapse in">
                        <p>
                            To redeem Myntra Points, you will have to continue shopping with us on App/M-site/Website. In case, you don’t have access to the App/Website or M-site, don’t worry, your Myntra Points are safe with us, whenever you get access of these Platforms in future, you can redeem the same (unless points have not expired)
                        </p>
                    </div>
                </div>
                <br><br><br>
                <div id="Terms-and-Conditions">
                    <h4>Terms and Conditions</h4>
                    <div>
                        <span>You can view the Terms and Conditions here.</span>
                        <div style="float: right;">
                            <a class="faqa" class="btn" routerLink="/terms" routerLinkActive = 'active'>VIEW T&C</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <br><br><br>
                <div id="Shipping">
                    <h4>Shipping, Order Tracking & Delivery</h4>
                    <div>
                        <span>You can track your orders in MyMyntra</span>
                        <div style="float: right;">
                            <a class="faqa" class="btn" routerLink="/terms" routerLinkActive = 'active'>TRACK ORDERS</a>
                        </div>
                    </div>
                    <hr>
                    <a class="faqa" data-toggle="collapse" href="#shiping-1">
                        <p style="font-weight: bold;">What is Myntra's Convenience Fee?</p>
                    </a>
                    <div id="shiping-1" class="panel-collapse collapse in">
                        <p>
                            A Convenience Fee of Rs. 99/- will be applicable to the orders under Rs. 799/-, and Rs.49/- will be applicable for the orders with only personal care items under 499/-.
                        </p>
                        <ol>
                            <li>If the order is cancelled, lost or un - delivered to your preferred location, we will refund the complete order amount including the convenience fee, if paid online.</li>
                            <li>If you return an order delivered to you, order Convenience Fee will not be refunded. However, if you self - ship your returns, we will reimburse self - shipment charges based on Myntra 's Returns Policy. For accounts whose return behavior violates our fair usage policy, Convenience fee will be non - refundable irrespective of order value.</li>
                        </ol>
                        <p>
                            *Order value is calculated after applying discounts/VAT/GST or any other applicable charges.
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#shiping-2">
                        <p style="font-weight: bold;">What is Myntra’s Fair Usage Policy?</p>
                    </a>
                    <div id="shiping-2" class="panel-collapse collapse in">
                        <p>
                            We always strive hard to provide the best experience to our customers. However, we have noticed that few accounts abuse our liberal returns policy. These accounts typically return most of the items bought or choose to not accept our shipments. Hence, our regular customers are deprived of the opportunity to buy these items. To protect the rights of our customers, we reserve the right to collect Convenience fee of INR 149 for all orders and disable cash on delivery option for accounts which have high percentage of returns and shipments not accepted by value of orders placed.
                            <br>
                            **Further, upgradation to a higher Myntra Insider Tier under the Myntra Insider Program will not be approved for such accounts.
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#shiping-3">
                        <p style="font-weight: bold;">How do I check the status of my order?</p>
                    </a>
                    <div id="shiping-3" class="panel-collapse collapse in">
                        <p>
                            Please tap on “My Orders” section under main menu of App/Website/M-site to check your order status.
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#shiping-4">
                        <p style="font-weight: bold;">How can I check if Myntra delivers to my PIN Code?</p>
                    </a>
                    <div id="shiping-4" class="panel-collapse collapse in">
                        <p>
                            You can find out if Myntra delivers to your PIN Code using the courier serviceability tool available on the product page. Please tap on “Check Delivery options” and enter your area PIN code in the respective field to get the required information about standard order delivery time and availability of Cash on Delivery for the Product selected. The PIN codes serviced by us are frequently updated, so if we do not deliver to your PIN code today, please come back and check to see if this has changed.
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#shiping-5">
                        <p style="font-weight: bold;">How are orders placed on Myntra delivered to me?</p>
                    </a>
                    <div id="shiping-5" class="panel-collapse collapse in">
                        <p>
                            All orders placed on Myntra are dispatched through our own courier service - Myntra Logistics or through other courier partners such as Blue Dart, Delhivery Etc.
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#shiping-6">
                        <p style="font-weight: bold;">Does Myntra deliver products outside India?</p>
                    </a>
                    <div id="shiping-6" class="panel-collapse collapse in">
                        <p>
                            No. At this point, Myntra delivers products only within India.
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#shiping-7">
                        <p style="font-weight: bold;">How can I get my order delivered faster?</p>
                    </a>
                    <div id="shiping-7" class="panel-collapse collapse in">
                        <p>
                            Sorry, currently we do not have any service available to expedite the order delivery. In future, if we are offering such service and your area pincode is serviceable, you will receive a communication from our end.
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#shiping-8">
                        <p style="font-weight: bold;">I have received a partial item/partial order or an Untenanted/Void packet?</p>
                    </a>
                    <div id="shiping-8" class="panel-collapse collapse in">
                        <p>
                            Kindly reach out to us for pilferage within 48 hours of delivery failing which the claim will not be entertained. Whilst we investigate, request you to please make note of the below pointers:
                            <br><br>
                            Please do not use the item for which claim is being raised.
                            <br><br>
                            You may be required to information’s like, short description of the case (A few questions will be asked to help us understand the scenario)
                            <br><br>
                            The snapshots of the packet and other boxes (If any) (Try to cover the sides which look tampered/damaged as per the Users
                            <br><br>
                            The refund for prepaid/Cash on delivery orders will be done after the investigation
                            <br><br>
                            You may not be liable for a refund, if he/she falls in any of the scenarios stated below:
                            <br><br>
                            Failure to provide adequate information about the case.
                            <br><br>
                            Failure to provide snapshots of the packet and box(if any)
                            <br><br>
                            If a pilferage delivery was received, pilferage claims must be made the same day.
                            <br><br>
                            You must not dispose of the packaging for 3 - 4 days post - delivery. We might need to pick-up your packaging for investigation at our end.
                            <br><br>
                            You have used the item for which claim was raised.
                            <br><br>
                            In case of a component missing from a multi-component item such as Kurta, Bed - sheets, inner wear sets etc.only exchange return option would be provided basis serviceability and product type
                        </p>
                    </div>
                </div>
                <br><br><br>
                <div id="Cancellations">
                    <h4>Cancellations and Modifications</h4>
                    <div>
                        <span>You can cancel your orders under MyMyntra</span>
                        <div style="float: right;">
                            <a class="faqa" class="btn" routerLink="/order" routerLinkActive = 'active'>CANCEL ITEM</a>
                        </div>
                    </div>
                    <hr>
                    <a class="faqa" data-toggle="collapse" href="#cancel-1">
                        <p style="font-weight: bold;">What is Myntra's Cancellation Policy?</p>
                    </a>
                    <div id="cancel-1" class="panel-collapse collapse in">
                        <p>
                            You can now cancel an order when it is in packed/shipped status, as long as the cancel option is available on App/Website/M-site. This includes items purchased on sale also. Any amount paid will be credited into the same payment mode using which the payment was made
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#cancel-2">
                        <p style="font-weight: bold;">Can I modify the shipping address of my order after it has been placed?</p>
                    </a>
                    <div id="cancel-2" class="panel-collapse collapse in">
                        <p>
                            Yes, You can modify the shipping address of your order before we have processed (packed) it, by updating it under 'change address' option which is available under ‘My order’ section of App/Website/M-site
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#cancel-3">
                        <p style="font-weight: bold;">How do I cancel my Order?</p>
                    </a>
                    <div id="cancel-3" class="panel-collapse collapse in">
                        <p>
                            Tap on “My Orders” section under the main menu of your App/Website/M-site and then select the item or order you want to cancel
                        </p>
                    </div>
                    <a class="faqa" data-toggle="collapse" href="#cancel-4">
                        <p style="font-weight: bold;">I just cancelled my order. When will I receive my refund?</p>
                    </a>
                    <div id="cancel-4" class="panel-collapse collapse in">
                        <p>
                            If you had selected Cash on Delivery, there is no amount to be refunded because you haven't paid for your order. For payments made via Credit Card, Debit Card, Net Banking, or Wallet you will receive refund into the source account within 7-10 days from the time of order cancellation. If payment was made by redeeming PhonePe wallet balance then, then refund will be instant post order cancellation, which can be later transferred into your bank account, by contacting PhonePe customer support team.
                        </p>
                    </div>
                </div>
                <br><br><br>
            </div>
            <!-- <div id="Returns">
                <h4>Returns and Exchange</h4>
                <div>
                    <span>You can return/exchange your orders in MyMyntra</span>
                    <div style="float: right;">
                        <a class="btn faqa" routerLink="/order" routerLinkActive = 'active'>EXCHANGE ITEM</a>
                        <a class="btn faqa" routerLink="/order" routerLinkActive = 'active'>RETURN ITEM</a>
                    </div>
                </div>
                <hr>
                <a class="faqa" data-toggle="collapse" href="#return-1">
                    <p style="font-weight: bold;"></p>
                </a>
                <div id="return-1" class="panel-collapse collapse in">
                    <p>
                        
                    </p>
                </div>
                <a class="faqa" data-toggle="collapse" href="#return-2">
                    <p style="font-weight: bold;"></p>
                </a>
                <div id="return-2" class="panel-collapse collapse in">
                    <p>
                        
                    </p>
                </div>
                <a class="faqa" data-toggle="collapse" href="#return-3">
                    <p style="font-weight: bold;"></p>
                </a>
                <div id="return-3" class="panel-collapse collapse in">
                    <p>
                        
                    </p>
                </div>
                <a class="faqa" data-toggle="collapse" href="#return-4">
                    <p style="font-weight: bold;"></p>
                </a>
                <div id="return-4" class="panel-collapse collapse in">
                    <p>
                        
                    </p>
                </div>
                <a class="faqa" data-toggle="collapse" href="#return-5">
                    <p style="font-weight: bold;"></p>
                </a>
                <div id="return-5" class="panel-collapse collapse in">
                    <p>
                        
                    </p>
                </div>
                <a class="faqa" data-toggle="collapse" href="#return-6">
                    <p style="font-weight: bold;"></p>
                </a>
                <div id="return-6" class="panel-collapse collapse in">
                    <p>
                        
                    </p>
                </div>
                <a class="faqa" data-toggle="collapse" href="#return-7">
                    <p style="font-weight: bold;"></p>
                </a>
                <div id="return-7" class="panel-collapse collapse in">
                    <p>
                        
                    </p>
                </div>
                <a class="faqa" data-toggle="collapse" href="#return-8">
                    <p style="font-weight: bold;"></p>
                </a>
                <div id="return-8" class="panel-collapse collapse in">
                    <p>
                        
                    </p>
                </div>
                <a class="faqa" data-toggle="collapse" href="#return-9">
                    <p style="font-weight: bold;"></p>
                </a>
                <div id="return-9" class="panel-collapse collapse in">
                    <p>
                        
                    </p>
                </div>
                <a class="faqa" data-toggle="collapse" href="#return-10">
                    <p style="font-weight: bold;"></p>
                </a>
                <div id="return-10" class="panel-collapse collapse in">
                    <p>
                        
                    </p>
                </div>
                <a class="faqa" data-toggle="collapse" href="#return-11">
                    <p style="font-weight: bold;"></p>
                </a>
                <div id="return-11" class="panel-collapse collapse in">
                    <p>
                        
                    </p>
                </div>
                <a class="faqa" data-toggle="collapse" href="#return-12">
                    <p style="font-weight: bold;"></p>
                </a>
                <div id="return-12" class="panel-collapse collapse in">
                    <p>
                        
                    </p>
                </div>
                <a class="faqa" data-toggle="collapse" href="#return-13">
                    <p style="font-weight: bold;"></p>
                </a>
                <div id="return-13" class="panel-collapse collapse in">
                    <p>
                        
                    </p>
                </div>
                <a class="faqa" data-toggle="collapse" href="#return-14">
                    <p style="font-weight: bold;"></p>
                </a>
                <div id="return-14" class="panel-collapse collapse in">
                    <p>
                        
                    </p>
                </div>
            </div> -->
            <br><br><br>
        </div>
    </div>
</div>


<br>

<app-footer></app-footer>

