<div style="background-color: rgb(255, 217, 223); height: 100vh;">
    <br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="background-color: white; border-radius: 10px;">
            <br>
            <form>
                <div class="row">
                    <div class="col-md-1" ></div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="loginusername" style="font-weight: 500; font-size: small;">Enter your email, phone, or username and we'll send you a link to get back into your account.</label>
                            <input type="text" class="form-control" id="loginusername" placeholder="Email, phone or Username" 
                            style="width: 100%; height: 30px;">
                        </div>
                        <button class="resetbut" type="submit" class="btn btn-primary" routerLink="/home" routerLinkActive = 'active'>
                            <a style="color: white; text-decoration: none; font-weight: bold;">
                                Send Login Link
                            </a>
                        </button>
                        <br><br>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-1" style="width: 45%;"><hr></div>
                    <div class="col-md-1" style="width: 10%; text-align: center;">or</div>
                    <div class="col-md-1" style="width: 45%;"><hr></div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div style="text-align: center;">
                            <span style=" font-size: small;">Don't have an account?</span>
                            <a routerLink="/signup" routerLinkActive = 'active' 
                            style="text-decoration: none; font-size: small; padding: 10px 0px 20px 0px;">
                                Sign Up?
                            </a>
                            <div style="line-height: 0.2;"><br></div>
                        </div> 
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <br>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div style="line-height: 0.2;"><br></div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="background-color: white; border-radius: 10px;">
            <form>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div style="text-align: center;">
                            <a routerLink="/login" routerLinkActive = 'active' 
                            style="text-decoration: none; font-size: small; padding: 10px 0px 20px 0px; color: black;">
                                Back to Log In
                            </a>
                            <div style="line-height: 0.2;"><br></div>
                        </div> 
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br>
</div>

