.term8{
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

.termh4{
    text-align: center;
    font-weight: 400;
}
.termp{
    font-size: x-small;
}
.termul{
    font-size: x-small;
}
.termol{
    font-size: x-small;
}
