<div class="container" id='admin' style="display:none;">
    <div class="row">
        <div class="col-md-3" style="border-right: 1px solid gray;">
            <nav class="nav flex-column">
                <a class="nav-link active" routerLink="admin-home">Home</a>
                <a class="nav-link" routerLink="admin-addproduct">product</a>
                <a class="nav-link" routerLink="admin-admin">Admin</a>
            </nav>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


