a{ text-decoration: none; color: black; }
h6{ font-size: small; }
p{ font-size: xx-small; }
b{ font-size:xx-small; }

.btn1{
    background-color: #FF3F6C;
    width: 100%;
}

.divpro1{
    border: 1px solid rgb(190, 190, 190);
    margin: 0 auto;
}

@media (min-width: 100px) {
    .divmain1 { grid-template-columns: repeat(2, 1fr); }
    .profile{ width: 80%; margin: auto;}
}
@media (min-width: 750px){
    .profile{ width: 65%; margin: auto; }
    .divmain1 { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width:100px){
    .row1{ display: none; }
    .web{ display: none; }
    .mob{ display: block; }
}
@media (min-width:1000px){
    .row1{ display: block; text-align: center; border-right: 1px solid grey; text-align: left;}
    .web{ display: inline; }
    .mob{ display: none; }
}