<br>

<div class="row">
    <div class="col-md-12">
      <h3 style="text-align: center; color: brown;">
        BEAUTY
      </h3>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-12 beamain1">
        <div class="beasub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="assets\images\beauty.jpg" alt="men" class="beaimg1">
            <div class="beahead1">
                <h5 class="beah5">Bath & Body</h5> 
            </div>
        </div>
        <div class="beasub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="assets\images\beauty.jpg" alt="men" class="beaimg1">
            <div class="beahead1">
                <h5 class="beah5">Grooming</h5>
            </div>
        </div>
        <div class="beasub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="assets\images\beauty.jpg" alt="men" class="beaimg1">
            <div class="beahead1">
                <h5 class="beah5">Skin Care</h5> 
            </div>
        </div>
        <div class="beasub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="assets\images\beauty.jpg" alt="men" class="beaimg1">
            <div class="beahead1">
                <h5 class="beah5">Hair Care</h5> 
            </div>
        </div>
        <div class="beasub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="assets\images\beauty.jpg" alt="men" class="beaimg1">
            <div class="beahead1">
                <h5 class="beah5">Hygiene Care</h5> 
            </div>
        </div>
        <div class="beasub1" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="assets\images\beauty.jpg" alt="men" class="beaimg1">
            <div class="beahead1">
                <h5 class="beah5">Herbal Care</h5> 
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <h3 style="text-align: center; color: brown;">
            SHOP BY CATEGORY
        </h3>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12 beamain2">
        <div class="beasub2" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="assets\images\face.jpg" alt="men" class="beaimg2">
            <div class="beahead2">
                <h5 class="beah5">Face</h5> 
            </div>
        </div>
        <div class="beasub2" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="assets\images\lip.jpg" alt="men" class="beaimg2">
            <div class="beahead2">
                <h5 class="beah5">Lip</h5>
            </div>
        </div>
        <div class="beasub2" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="assets\images\eye.jpg" alt="men" class="beaimg2">
            <div class="beahead2">
                <h5 class="beah5">Eye</h5> 
            </div>
        </div>
        <div class="beasub2" style="background-color: #FFC6A1; border-radius: 10px;">
            <img src="assets\images\nails.jpg" alt="men" class="beaimg2">
            <div class="beahead2">
                <h5 class="beah5">Nail</h5> 
            </div>
        </div>
    </div>
</div>

<br>

<app-footer></app-footer>

