<br>
<div class="row">
    <div class="col-md-8 divlivimg">
        <img src="assets\images\fun2.jpg" alt="furniture" style="height: 300px; width: 100%;">
    </div>
    <div class="col-md-3 divlivtext">
        <div style="text-align: center;">
            <h3 style="font-weight: lighter;">YOUR HOME,</h3>
            <h3 style="font-weight: lighter;">YOUR LOVE</h3>
            <br>
            <h5>FURNISH IN STYLE</h5>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-7" style="margin-left: 5%; margin-right: 5%;">
        <h3 style="margin: 20px;">NICE TO SEE YOU, COME ON IN!</h3>
        <div class="divliv1">
            <div class="divliv2">
                <img src="assets\living\bed.jpeg" alt="furniture" class="imgliv1">
                <br>
                <h4 style="text-align: center;">BED LINEN</h4>
            </div>
            <div class="divliv2">
                <img src="assets\living\furniture.jpeg" alt="furniture" class="imgliv1">
                <br>
                <h4 style="text-align: center;">FURNISHINGS</h4>
            </div>
            <div class="divliv2">
                <img src="assets\living\art.jpeg" alt="furniture" class="imgliv1">
                <br>
                <h4 style="text-align: center;">ART & DECOR</h4>
            </div>
            <div class="divliv2">
                <img src="assets\living\lamp.jpeg" alt="furniture" class="imgliv1">
                <br>
                <h4 style="text-align: center;">LAMPS & LIGHTING</h4>
            </div>
            <div class="divliv2">
                <img src="assets\living\dining.jpeg" alt="furniture" class="imgliv1">
                <br>
                <h4 style="text-align: center;">KITCHEN & DINING</h4>
            </div>
            <div class="divliv2">
                <img src="assets\living\bath.jpeg" alt="furniture" class="imgliv1">
                <br>
                <h4 style="text-align: center;">BATH</h4>
            </div>
        </div>
    </div>
    <div class="col-md-2" style="margin-right: 2.5%; font-size: small; margin-left: 5%;">
        <b>Furnishings & Bed Linen</b><br><br>
        <div>
            <p>Bed Sheets</p>
            <p>Bedding Sets</p>
            <p>Blankets</p>
            <p>Pillows & Covers</p>
            <p>Cushions</p>
            <p>Curtains</p>
            <p>Mats & Dhurries</p>
            <p>Carpets</p>
        </div>
        <br>
        <b>Bath & Bed Linen</b><br><br>
        <div>
            <p>Towels</p>
            <p>Towel Sets</p>
            <p>Bath Robes</p>
            <p>Bathroom Accessories</p>
            <p>Shower Curtains</p>
            <p>Bath Rugs</p>
        </div>
        <br>
        <b>Home Decor</b><br><br>
        <div>
            <p>Planters</p>
            <p>Candle Holders</p>
            <p>Clocks</p>
            <p>Mirrors</p>
            <p>Wall Decor</p>
            <p>Wall Shelves</p>
            <p>Fountains</p>
            <p>Showpieces & Vases</p>
            <p>Mats & Dhurries</p>
        </div>
        <br>
        <b>Lamps & Lighting</b><br><br>
        <div>
            <p>Floor & Wall Lamps</p>
            <p>Table Lamps</p>
        </div>
        <br>
        <b>Kitchen & Table</b><br><br>
        <div>
            <p>Tableware & Serveware</p>
            <p>Bar & Drinkware</p>
            <p>Cookware & Kitchen Tools</p>
            <p>Kitchen Storage</p>
            <p>Table Covers</p>
            <p>Furnishings</p>
        </div>
        <br>
        <b>Storage & Organisers</b><br><br>
        <div>
            <p>Organisers</p>
            <p>Hooks & Holders</p>
        </div>
        <br>
    </div>
</div>

<br>

<app-footer></app-footer>
