<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 style="text-align: center; color: brown;">
        Knockout Deal's
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8" style="margin-left: auto; margin-right: auto;">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block homeimg1" src="assets\images\car_women.jpeg" alt="First slide" style="border-radius: 10px;">
            <div class="carousel-caption">
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                  <img src="assets\images\offer1.png" alt="levi's" style="height: 80px;">
                </div>
                <div class="col-md-3">
                  <h1 style="color: red; margin-top: 20px;">MIN. 50%</h1>
                </div>
                <div class="col-md-5">
                  <h3 style="color: black; margin-top: 30px;">On Men's Indian Wear</h3><br>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="content1">
              <img class="d-block homeimg1" src="assets\images\car_women.jpeg" alt="second slide"
                style="border-radius: 10px;">
              <div class="carousel-caption">
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-2">
                    <img src="assets\images\offer1.png" alt="levi's" style="height: 80px;">
                  </div>
                  <div class="col-md-3">
                    <h1 style="color: red; margin-top: 20px;">MIN. 60%</h1>
                  </div>
                  <div class="col-md-5">
                    <h3 style="color: black; margin-top: 30px;">On Women's Western Wear</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="content1">
              <img class="d-block homeimg1" src="assets\images\car_women.jpeg" alt="Third slide" style="border-radius: 10px;">
              <div class="carousel-caption">
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-2">
                    <img src="assets\images\offer1.png" alt="levi's" style="height: 80px;">
                  </div>
                  <div class="col-md-3">
                    <h1 style="color: red; margin-top: 20px;">MIN. 40%</h1>
                  </div>
                  <div class="col-md-5">
                    <h3 style="color: black; margin-top: 30px;">On Kid's Ethic Wear</h3><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="top: -120px;">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="top: -120px;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3 style="text-align: center; color: brown;">
        MEN
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 homemain1">
      <div class="homesub1">
        <img src="assets\men\t-shirt.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">T-Shirts</h4>
      </div>
      <div class="homesub1">
        <img src="assets\men\Loungewear.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Loungewear</h4>
      </div>
      <div class="homesub1">
        <img src="assets\men\shirts.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Shirts</h4>
      </div>
      <div class="homesub1">
        <img src="assets\men\innerwear.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Innerwear</h4>
      </div>
      <div class="homesub1">
        <img src="assets\men\trackpants.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Trackpants</h4>
      </div>
      <div class="homesub1">
        <img src="assets\men\Flip-Flops.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Flip-Flops</h4>
      </div>
      <div class="homesub1">
        <img src="assets\men\shorts.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Trousers & Shorts</h4>
      </div>
      <div class="homesub1">
        <img src="assets\men\kurta.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Kurta Sets</h4>
      </div>
      <div class="homesub1">
        <img src="assets\men\sports.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Sports Shoes</h4>
      </div>
      <div class="homesub1">
        <img src="assets\men\suits.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Suits & Blazers</h4>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <h3 style="text-align: center; color: brown;">
        WOMEN
      </h3>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12 homemain1">
      <div class="homesub1">
        <img src="assets\women\kurta.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Kurta Sets</h4>
      </div>
      <div class="homesub1">
        <img src="assets\women\saree.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Sarees</h4>
      </div>
      <div class="homesub1">
        <img src="assets\women\dresses.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Dresses</h4>
      </div>
      <div class="homesub1">
        <img src="assets\women\Lingerie.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Lingerie</h4>
      </div>
      <div class="homesub1">
        <img src="assets\women\Loungewear.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Loungewear</h4>
      </div>
      <div class="homesub1">
        <img src="assets\women\jewellery.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Jewellery</h4>
      </div>
      <div class="homesub1">
        <img src="assets\women\tops.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Tops & tees</h4>
      </div>
      <div class="homesub1">
        <img src="assets\women\handbag.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Handbags</h4>
      </div>
      <div class="homesub1">
        <img src="assets\women\trackpants.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Trackpants & Shorts</h4>
      </div>
      <div class="homesub1">
        <img src="assets\women\nightwear.jpeg" alt="men" class="homeimg2">
        <br>
        <h4 style="text-align: center;">Nightwears</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3 style="text-align: center; color: brown;">
        MOST LOVED BRAND'S
      </h3>
    </div>
  </div>

  <div class="container">
    <img src="assets\images\brand1.png" alt="puma" class="homebrand">
    <img src="assets\images\brand1.png" alt="puma" class="homebrand">
    <img src="assets\images\brand1.png" alt="puma" class="homebrand">
    <img src="assets\images\brand1.png" alt="puma" class="homebrand">
    <img src="assets\images\brand1.png" alt="puma" class="homebrand">
    <img src="assets\images\brand1.png" alt="puma" class="homebrand">
    <img src="assets\images\brand1.png" alt="puma" class="homebrand">
    <img src="assets\images\brand1.png" alt="puma" class="homebrand">
    <img src="assets\images\brand1.png" alt="puma" class="homebrand">
    <img src="assets\images\brand1.png" alt="puma" class="homebrand">
    <img src="assets\images\brand1.png" alt="puma" class="homebrand">
    <img src="assets\images\brand1.png" alt="puma" class="homebrand">
    <img src="assets\images\brand1.png" alt="puma" class="homebrand">
    <img src="assets\images\brand1.png" alt="puma" class="homebrand">
  </div>
</div>
<app-footer></app-footer>