<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-8" class="recentprofile">
            <h5>HELP CENTER</h5>
            <p class="recentp" style="line-height: 0.2;">We are here to help you</p>
            <hr>
            <div class="row">
                <div class="col-md-3 recentrow1">
                    <h6 class="recenth6">SELECT QUERY TYPE</h6>
                    <a class="recenta" routerLink="/contact-nonorder" routerLinkActive = 'active' style="font-size: small;">Non-order Related Issues<span style="float:right; padding-top: 4px;">></span></a>
                    <br>
                    <a class="recenta" routerLink="/contact-order" routerLinkActive = 'active' style="font-size: small;">Order Related Queries<span style="float:right; padding-top: 4px;">></span></a>
                    <br>
                    <a class="recenta" routerLink="/contact-recent" routerLinkActive = 'active' style="color: lightgreen; font-size: small;">Recent Issues<span style="float:right; padding-top: 4px;">></span></a>
                    <hr>
                    <a class="recenta" routerLink="/contact-faq" routerLinkActive = 'active' style="font-size: small;">Frequently Asked Questions<span style="float:right; padding-top: 4px;">></span></a>
                    <br><br><br><br><br><br>
                    <p class="recentp" style="font-size: small;">
                        Want to reach us old style? Here is our
                        <a class="recenta" routerLink="/contact-postal" routerLinkActive = 'active' style="color: blue;">postal address</a>
                    </p>
                    
                </div>
                <div class="col-md-9">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<app-footer></app-footer>
