<br>

<div>
    <div class="col-md-12">
        <h3 style="text-align: center; color: brown;">
            WOMEN
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-10 divmain1" id='women-rev'>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <h3 style="text-align: center; color: brown;">
            MOST LOVED BRAND'S
        </h3>
    </div>
</div>
  
<div class="container divmain2">
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
    <div class="divsub2"><img src="assets\images\brand1.png" alt="puma" class="imgbrand"></div>
</div>

<br><br>

<div class="row">
    <div class="col-md-12">
        <h3 style="text-align: center; color: brown;">
            SHOP BY CATEGORY
        </h3>
    </div>
</div>
<div class="row">
  
    <div class="col-md-10 divmain1">
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\women\saree.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">Indian Wear</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">50-70% Off</h4>
        </div>
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\women\dresses.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">Western Wear</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">50-70% Off</h4>
        </div>
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\women\Lingerie.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">Lingerie</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">Up to 70% Off</h4>
        </div>
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\women\activewear.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">Active Wear</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">30-70% Off</h4>
        </div>
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\women\beauty.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">Beauty & Personal care</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">Up to 80% Off</h4>
        </div>
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\women\footwear.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">FootWear</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">40-80% Off</h4>
        </div>
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\women\watches.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">Watches</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">Up to 70% Off</h4>
        </div>
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\women\plussize.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">Plus Size</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">40-70% Off</h4>
        </div>
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\women\sunglasses.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">Sunglasses</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">Up to 60% Off</h4>
        </div>
        <div class="divsub1" style="border-radius: 10px;">
            <img src="assets\women\handbag.jpeg" alt="men" class="img2">
            <br>
            <h4 style="text-align: center; font-weight: bold;">Handbags & Bags</h4>
            <h4 style="text-align: center; font-weight: bold; line-height: 0.5;">Up to 50% Off</h4>
        </div>
    </div>
</div>

<br>

<app-footer></app-footer>
